<h1 class="mt-4">Produto</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="menssagemSuccess">
                {{ menssagemSuccess }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="menssagemError">
                {{ menssagemError }}
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descricao</th>
                        <th>Preço</th>
                        <th>Data do Cadastro</th>
                    </tr>
                </thead>
                <tBody>
                    <tr *ngFor="let produto of produto">
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.preco }}</td>
                        <td>{{ produto.data }}</td>
                        <td>

                            <button class="btn btn-primary" routerLink="/produto-form/{{ produto.id }}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelecao"
                                (click)="preparaDelete(produto)">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tBody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Deseja apagar produto ?</h4>
                </div>

                <div class="modal-body" *ngIf="produtoSelecionado">
                    Confirma o delete do produto {{ produtoSelecionado.descricao }} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletaProduto()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>